.venv/
.git/
.github/
__pycache__/
*.py[cod]
.pytest_cache/
.DS_Store

.env

data/raw/*
data/processed/*
data/staging/*
data/curated/*
data/audit/*

logs/*
.ipynb_checkpoints/
.vscode/

*.parquet
*.json
*.log
